/* Helper style to visualise grid columns */
.grid-demo {
    background-color: white;
    border: 1px solid #b6d4fe;
    padding: 12px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 1rem;
}

form {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 4px;
}

fieldset {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
}